html {

}
body {
	background-color: #d3d3d3;
	display: inline-block;
	width: 100%;
	font-family: 'Kanit', sans-serif;
}
#loginButton {
	display: inline-block;
}
#Login {
	height: 4.5em;
	width: 10em;
}
#logo {
	display: inline-block;
	vertical-align: top;
	/*padding-left: 3.5em;
	padding-right: 3.5em;*/
	text-align: left;
	font-size: 10em;
}
#contentBackground {
	background: 
		linear-gradient(
			rgb(128,128,128, 0.45),
			rgb(128,128,128, 0.45)
		),
		url('../img/stock1.jpg');
	z-index: -1;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	/*background-image: url('../img/stock1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;*/
}
#content {
	margin-top: 5em;
	display: inline-block;
	width: 100%;
	font-family: 'Kanit', sans-serif;
	/*background-image: url('../img/c9win.jpeg');*/
	/*background-color: #d3d3d3;
	background-blend-mode: multiply;*/
}
.form-group {
	
}
input {	
	/*width: 30% !important;*/
}
#loginQuery {
	display: inline-block;
	position: right;

}
/*li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    /*background-color: #111;
    
}*/
.loginNav {
	background-color: #17a2b8;
}
.navbar-nav .nav-item .signUpNav.nav-link {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 0.25em;
	transition: 0.7s;
	color: white;
	background-color: #f50;
}
.navbar-nav .nav-item .loginNav.nav-link {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 0.25em;
	transition: 0.7s;
	color: white;
}
.navbar-nav .nav-item .loginNav.nav-link:hover {
	color: black;
	background-color: #30d0f0;
}
.navbar-nav .nav-item .signUpNav.nav-link:hover {
	color: black;
	background-color: #f70;
}
.active {
    /*background-color: #ff8533;*/
    text-decoration: none;
}
#buttonsWrapper {
	text-align: center;
}
#loginBox {
	display: inline-block;
	/*text-align: center;*/
	/*margin: 1em;*/
}
#signUpBox {
	display: inline-block;
	/*margin: 1em;*/
}
#loginButton {
	padding: 0.5em 2em;
}
#signUpButton {
	padding: 0.5em 2em;	
}
.bg-primary {
	background-color: black !important;
}
.sgnNav {
	/*background-color: gray;*/
	/*-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;*/
}
.nav-item {
	margin-left: 1em;
}
.navbar-brand {
	font-family: 'Kanit', sans-serif;
}
.nav-link {
	font-family: 'Kanit', sans-serif;
}
#contentGreetings {
	background-image: linear-gradient(to right, rgba(0,0,0,0.05), rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.05) 100%);
	/*background-image: linear-gradient(to right, #000000, #000000 10%, #FF0000 100%);*/
	color: white;
	/*-webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: black;*/
	text-align: center;
}
#sgnTitle {
	font-size: 5em;
}
/*#signUp {
	height: 4.5em;
	width: 10em;	
}*/
/*ul {
	font-family: 'Kanit', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    text-decoration: none;
}*/